html {
    min-height: 100vh;
}

/* Kill me please, this will be bad */

@keyframes glitch {
    0% {left: 0px; opacity: 0;}
    48% {left: 0px; opacity: 0;}
    49% {left: 20px; opacity: 1;}
    50% {left: -10px; opacity: 1;}
    51% {left: 5px; opacity: 1;}
    52% {left: 0px; opacity: 0;}
    71% {left: 0px; opacity: 0;}
    72% {left: -10px; opacity: 1;}
    73% {left: 0px; opacity: 0;}
    100% {left: 0px; opacity: 0;}
}

@-webkit-keyframes glitch {
    0% {left: 0px; opacity: 0;}
    48% {left: 0px; opacity: 0;}
    49% {left: 20px; opacity: 1;}
    50% {left: -10px; opacity: 1;}
    51% {left: 5px; opacity: 1;}
    52% {left: 0px; opacity: 0;}
    71% {left: 0px; opacity: 0;}
    72% {left: -10px; opacity: 1;}
    73% {left: 0px; opacity: 0;}
    100% {left: 0px; opacity: 0;}
}

/* Thank god, it's over */

body {
    margin: 0;
    background-color: #1e1e1e;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}

/* Reset that fuck*/
p, h1, h2, h3, h4, h5, h6 {margin: 0;}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
    margin: 5px 0 5px 0;
}

a, a:visited {
    color: #FFF;
    text-decoration: unerline;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: #FA1;
}

.blocks a, .blocks a:visited {
    text-decoration: none;
}

#site {
    width: 100%;
    max-width: 560px;
    box-sizing: border-box;
    padding: 90px 25px 10px 25px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 230%;
    font-weight: 300;
    margin: 10px 0 10px 0;
    text-align: center;
}

.imgblock {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 5px auto 15px auto;
    padding: 15px;
    box-sizing: border-box;
}

.img1, .img2 {
    width: 100%;
}

.img1 {
    position: relative;
    top: -210px;
    animation: glitch 1.25s 1s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.img2 {
    position: relative;
    top: -145px;
    animation: glitch 1.5s 2s infinite reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.imgblock img {
    position: relative;
}

.blocks {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
}

.blocks a {
    display: inline-block;
    padding: 10px;
    width: 20%;
    font-size: 32pt;
    box-sizing: border-box;
    text-align: center;
}

.blocks .avatar {
    width: 90%;
    height: auto;
    display: inline-block;
}

@media screen and (max-width: 580px) {
    .blocks a {
        width: 45%;
        font-size: 26pt;
    }

    .blocks .avatar {
        max-width: 100px;
    }
}

.corner {
    color: #333;
    position: absolute;
    right: 5px;
    top: 5px;
}

.subtle {
    color: #AAA;
    font-size: 75%;
}

.centered {
    text-align: center;
}

.small {
    font-size: 50%;
}

.exsmall {
    font-size: 35%;
}

.notice {
    padding: 10px;
    font-size: 80%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
}